body{
	font-size: 14px;

}

.header{ 
        margin-top: 69px;
	}
.header-color{background-color: #e7e7e7;}
//.navbar-inverse{background-color: #29AfD6;}
.navbar{border:0;}
.active > a:focus {
    background-color:#333;
    color: red;
}
.navbar-inverse .navbar-brand{color:fff;}
.banner{position: absolute;
		top:0;
		right:0;
		bottom: 0;
		left: 0;
		background: 50% 50% no-repeat;
		-webkit-background-size:cover;
		-mozilla-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
	}
.header .banner{
	height: 350px;
	z-index: -2;
	background-image: url('../img/banner.png');
		}
.banner-text{color: #fff;}
.banner-text h1{  
	font-size: 44px;
    font-weight: bold;
	}
.test_color{color:#286090;}
.welcome{ padding-top: 110px;}
.jumbotron p{text-align: center;}
.jumbotron h1{
	font-size: 38px;
	color:#333;
text-align: center;
font-weight: bold;
}
.page-header h1{
    color: #333;
    font-size: 38px;
    font-weight: bold;
    
}
.page-header p{
	   color: #333;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 15px;
	}

.welcome-about{ padding-top: 15px;}
.contact-form{padding-top:30px;}

.footer{
	color:#fff;
	background-color:#1C1C1C; 
	text-align:center;margin-top:20px;
	padding-top:25px;
	padding-bottom:20px;  
	width: 100%;
}